<form action="action_page.php" method="post">
  
    <div class="container">

        <label for="knev"><b>Keresztnév:</b></label>
        <input type="text" placeholder="Give us your first name" name="knev">

        <label for="vnev"><b>Vezetéknév:</b></label>
        <input type="text" placeholder="Give us your last name" name="vnev">
    
        <label for="psw"><b>Jelszó</b></label>
        <input type="password" placeholder="Enter Password" name="psw">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">
    
        <button type="submit">Register</button>
        <a routerLink="/login" class="btn btn-link">Back to login</a>
        <p>
        </p>
    </div>
  </form>