<form class="form-signin" (ngSubmit) = "onSubmit(signInForm)" #signInForm = "ngForm">
    <div class="container">

        <label for="inputEmail"><b>Email</b></label>
        <input type="email" id="inputEmail" name="email" 
        placeholder="Email address" required autofocus ngModel>
    
        <label for="inputPassword"><b>Password</b></label>
        <input type="password" id="inputPassword" name="password" 
        placeholder="Password" required ngModel>
    
        <button type="submit">Login</button>

        <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
            Please fill all fields!
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
            Invalid user or password!
        </div>

        <a routerLink="/register" class="btn btn-link">Register</a>

        <span class="psw">Forgot <a href="#">password?</a></span>

    </div>

</form>

    